.App {
  text-align: center;
}

.flex {
  display: flex;
}

.jcCenter {
  justify-content: center;
}

.jcEnd {
  justify-content: end;
}

.jcSpaceAround {
  justify-content: space-around;
}

.btn {
  cursor: pointer;
}

.posAbsolute {
  position: absolute;
}

.hidden {
  display: none;
}

.welcomePage {
  top: 0;
  width: 100vw;
  height: 80vh;
  background-image: url('./welcomePage.png');
  background-size: cover;
}

#navBarPlaceholder {
  height: 8vh;
  width: 100vw;
  background-color: #212529;
}

#navBar {
  display: flex;
  top: 0;
}

.headerNav {
  display: flex;
  top: 0;

}

.navIsMoving {
  background-color: #212529;
  position: fixed;
  top: 0;
}

.navBox1 {
  height: 8vh;
  width: 25vw;
  align-items: center;
}

#homeLogo {
  height: 4vh;
  width: 10vw;
}

.navBox2 {
  height: 8vh;
  width: 75vw;
}

.linkBox {
  width: 30vw;
  height: 8vh;
  align-items: center;
  margin-left: 15vw;
}

.navLink {
  color: white;
  font-size: 1.5vh;
}

.welcomeContent {
  margin-top: 20vh;
  /* background-color: grey; */
  height: 30vh;
}


.welcomeContent h3 {
  color: white;
  font-size: 4vh;
  margin-bottom: 2vh;
}

.welcomeContent h2 {
  color: white;
  font-size: 7.5vh;
}

.welcomeContent button {
  background-color: #f7c803;
  color: white;
  font-size: 2vh;
  height: 7vh;
  width: 24vh;
  border-radius: 5px;
  margin-top: 5vh;
  border: none;
}

.welcomeContent button:hover {
  background-color: #dfbe04;
}

.servicesPage {
  height: 200vh;
  width: 100vw;
}